//import mixins file to use, save it in the "m" namespace
@use 'mixins' as m;

//use @include to use a mixin, use the namespace then the mixin name
//
.inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }  