$darkRed-color: #880d1e;
$hotPink-color: #dd2d4a;
$pink-color: #f26a8d;
$lightPink-color: #f49cbb;
$paleBlue-color: #cbeef3;


@mixin blue {
    background-color: blue;
}

//liam.stewarteventconnect.io