.inclusive-sans-regular {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular-italic {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
  display: none;
}

.text {
  color: #FFA55B;
  font-family: "inclusive-sans", "Montserrat";
  margin: 5px;
}

.underline {
  text-decoration: underline;
}

h3 {
  font-size: 31pt;
}

.subheader {
  font-size: 20pt;
}

.info_text {
  font-size: 24pt;
}

.nav-links {
  padding: 0px;
}

.icon-list {
  padding: 0px;
}

li {
  list-style: none;
}

#insta-icon:hover #insta-fill {
  fill: #FFA55B;
}

#insta-icon:hover .insta-line {
  stroke: #002530;
}

#git-icon:hover #git-fill {
  fill: #FFA55B;
}

#git-icon:hover #git-line {
  stroke: #002530;
}

#link-icon:hover .link-fill {
  fill: #FFA55B;
}

#link-icon:hover #link-line {
  fill: #002530;
}

body {
  background-color: #002530;
}

.button {
  width: fit-content;
  min-width: 150px;
  color: #FFA55B;
  height: 50px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  background-color: #002530;
  border-color: #FFA55B;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  font-family: "Inclusive Sans", sans-serif;
  margin: 5px;
}
.button a {
  color: #FFA55B;
  text-decoration: none;
}

.button:hover {
  background-color: #FFA55B;
  border-color: #002530;
  border-style: solid;
  color: #002530;
  cursor: pointer;
}
.button:hover a {
  color: #002530;
}

.icon-list {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#greeting-section {
  border-bottom-style: solid;
  border-color: #FFA55B;
  border-width: 5px;
  margin-bottom: 50px;
}

#greeting-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#greeting-title img {
  height: 50px;
}

#meniIcon {
  position: sticky;
}

#case-files-section {
  margin-bottom: 150px;
}

#about-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
#about-section div span {
  text-align: center;
  margin: 10px 50px 10px 50px;
}

#info-and-resume {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#info-and-resume img {
  width: 400px;
  border-radius: 150px;
  margin: 10px auto auto auto;
}
#info-and-resume div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selfie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#case-file-1 {
  background: url("../images/placeholder-images-03.jpg");
}

#case-file-2 {
  background: url("../images/placeholder-images-03.jpg");
}

#case-file-3 {
  background: url("../images/placeholder-images-03.jpg");
}

.case-file-object {
  width: 300px;
  height: 300px;
  margin: 5px auto 5px auto;
}

.input-form {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-box {
  background-color: #002530;
  border-color: #FFA55B;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
}

@media (min-width: 768px) {
  #case-file-1 {
    background: url("../images/placeholder-images-02.jpg");
  }
  #case-file-2 {
    background: url("../images/placeholder-images-02.jpg");
  }
  #case-file-3 {
    background: url("../images/placeholder-images-02.jpg");
  }
  .case-file-object {
    width: 700px;
    height: 340px;
  }
}
@media (min-width: 1200px) {
  #menuIcon {
    display: hidden;
  }
  #greeting-section {
    border-bottom-style: none;
  }
  header {
    border-right-style: solid;
    border-color: #FFA55B;
    border-width: 5px;
  }
  .main-title {
    text-align: left;
    margin: 50px 0px 50px 200px;
  }
  #case-file-1 {
    background: url("../images/placeholder-images-01.jpg");
  }
  #case-file-2 {
    background: url("../images/placeholder-images-01.jpg");
  }
  #case-file-3 {
    background: url("../images/placeholder-images-01.jpg");
  }
  .case-file-object {
    width: 700px;
    height: 340px;
  }
  #about-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  #info-and-resume {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  #info-and-resume img {
    width: 400px;
    border-radius: 150px;
    margin: 10px auto auto auto;
  }
  #info-and-resume span {
    align-items: left;
    text-align: left;
  }
  #info-and-resume div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.skills-box {
  margin: 5px auto 5px auto;
}

.icon-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  visibility: hidden;
}

.icon-card {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 150px;
  margin: 0px auto 0px auto;
  align-items: center;
  justify-content: center;
}
.icon-card img {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
}
.icon-card span {
  color: #FFA55B;
  margin-top: auto;
}

@media (min-width: 768px) {
  .icon-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1200px) {
  .icon-box {
    display: flex;
    grid-template-columns: row;
  }
}
.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.menu-icon {
  display: flex;
  cursor: pointer;
  margin-left: auto;
}

#intro-message {
  display: flex;
  flex-direction: row;
}

/* Tablet styles */
/* desktop styles */
@media screen and (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
  .desktop-shown {
    display: block;
  }
  .desktop-sticky {
    position: sticky;
    top: 50px;
  }
}/*# sourceMappingURL=main.css.map */