@use '../abstracts' as a;


#center-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#contact-section {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    #contactTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
                }

@media (min-width: 768px) {
    #contact-section{
    #contactTitle {
    align-items: baseline;
    margin-left: 150px;
    }
}
}