@use "../abstracts" as a;

#hero-section {
    display: flex;
    align-items:baseline;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;

        #index-name-box {
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-left: 10vw;
            
            #index-ramona {
                display: flex;

            }
            #index-lozon {
                display: flex;
            }

            .index-title-text {
                font-weight: normal;
                text-align: center;
                font-size: 24px;
                margin: 10px;
            }
        }


                .index-nav {
                display: flex;
                flex-direction: column;
                align-items:baseline;



                .index-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    font-weight: 700;
                    width: 120px;
                    height: 30px;
                    padding: 10px;
                    border: 2px solid a.$paleBlue-color;
                    background-color: rgba(0,0,0,0.0);
                    border-radius: 10px;
                    margin: 10px;
                }

                .index-button:hover {
                    border: 2px solid a.$darkRed-color;
                    background-color: a.$paleBlue-color;
                    color: a.$darkRed-color;
                    border-radius: 10px;
                    animation: shadow-index 0.25s forwards;
                    z-index: 200;
                }

                @keyframes shadow-index {
                    0% {box-shadow: none;
                        transform: translateX(0px);
                        transform: translateY(0px);}
                    100% {box-shadow: 5px 5px 0px a.$darkRed-color;
                        transform: translateX(-5px);
                        transform: translateY(-5px);}
                }
            }

        #socials-box {
                display: flex;
                flex-direction: row;
                justify-content: left;

            .socials-icon {
                cursor: pointer;
                display: flex;
                width: 60px;
                height: 60px;
                margin: 5px;

                .svg-edge {
                    fill: black;
                }

                .svg-border {
                    fill: black;
                }

                .svg-fill {
                    fill: #dd2d4a;
                }
            }

            .socials-icon:hover {
    transform: translateX(5px);
    transition: all 0.1s ease;
                .svg-edge {
                    fill: black;
                }

                .svg-border {
                    fill: black;
                }

                .svg-fill {
                    fill: white;
                }
            }
        }
    }


@media (min-width:500px) {

#hero-section {
    #nav-box{
        #index-nav {
                flex-direction: row;
            }
        }
    }
}