@use "../abstracts" as a;

* {
    margin: 0;
    padding: 0;
}

main {
  min-height: 100vh;
}

.hidden {
    display: none;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.invisible {
  visibility: hidden;
  transform: translateX(-25px);
}

.fadeIn {
    opacity: 0;
    visibility: hidden;
}

.invisible-still {
  visibility: hidden;
}
.centered {
    text-align: center;
}

.insta-icon:hover .insta-fill {
    fill: a.$hotPink-color;
  }

  .insta-icon:hover .insta-line {
    stroke: a.$darkRed-color;
  }

  .git-icon:hover .git-fill {
    fill: a.$hotPink-color;
  }

  .git-icon:hover .git-line {
    stroke: a.$darkRed-color;
  }

  .link-icon:hover .link-fill {
    fill: a.$hotPink-color;
  }

  .link-icon:hover .link-line {
    fill: a.$darkRed-color;
  }

body {
    background-color: a.$hotPink-color;
}

.button {
    min-width: 70px;
    height: 40px;
    color: a.$paleBlue-color;
    text-decoration: none; 
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    border-radius: 15px;
    background-color: a.$darkRed-color;
    border: solid 2px a.$paleBlue-color; 
    font-family: "Inclusive Sans", sans-serif;
    margin: 5px;
    a{
        color: a.$hotPink-color;
        text-decoration: none;
    }
}

.button:hover {
    background-color: a.$paleBlue-color;
    color: a.$darkRed-color;
    cursor: pointer;
    border: solid 2px a.$hotPink-color;
    box-shadow: 5px 5px 0px a.$hotPink-color;
    animation: shadow 0.25s forwards;
    z-index: 200;
    a{
        color: a.$darkRed-color;
    }
  }

    @keyframes shadow {
        0% {box-shadow: none;
            transform: translateX(0px);
            transform: translateY(0px);}
        100% {box-shadow: 5px 5px 0px a.$pink-color;
            transform: translateX(-5px);
            transform: translateY(-5px);}
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 50px;
    height: 50px;
    margin:5px;
}

.desk-top-button {
  display: none;
}

.top-link {
  opacity: 0.5;
  color: a.$hotPink-color;
  text-decoration: none;
  height: 50px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  font-family: "Inclusive Sans", sans-serif;
  margin: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

.top-link:hover {
  opacity: 1;
  background-color: a.$darkRed-color;
  border-color: a.$hotPink-color;
}

.blink {
  animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}


.breakpoint-con {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px auto;
  padding: 10px;
}

.breakpoint-group {
  display:flex;
  flex-direction: column;
  padding: 5px;
  flex: 1;
}

.breakpoint-item {
  display: flex;
}

// .breakpoint-item {

// }

//tablet styles
@media (min-width:768px) {
  .breakpoint-con {
    flex-direction: row;
  }

  .breakpoint-group {
    flex: 1;
    min-width: 0;
  }

  .breakpoint-item {
    width: 40vw;
  }
}

//desktop styles
@media (min-width:1200px) {

.desk-top-button {
  display: flex;
    a {
      margin: 50px 50px 100px auto;
    }
}

    }