@use "../abstracts" as a;

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: a.$primary-color;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .lightbox.active {
    display: flex;
  }

.lightbox-content {
  width: 80vw;
}

.lightbox-text {
font-size: 14px;
line-height: 20px;
}

@media (min-width:768px) {
  .lightbox-text {
    font-size: 16px;
    line-height: 24px;
    }
}

@media (min-width:1200px) {
  .lightbox-text {
    font-size: 18px;
    line-height: 26px;
    }
}