@use "../abstracts" as a;

Header {
    position: sticky;
    top: 0;
}

nav {
    background-color: rgba(a.$primary-color, 0.5);
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
}

#home-button {
    margin: 10px 10px 10px auto;
} 

#workTop {
      margin: 10px 10px 10px auto;
}

.deskNavItem {
    display: none;
    a {
        text-decoration: none;
        padding: 10px;
    }
  }

#logo {
    padding: 10px;
    height: 50px;
    img {
      height: 100%;
      width: auto;
    }
}

#sign-in {
    margin-left: auto;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin: 0 20px 0 auto;
    position: relative;
    cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: a.$secondary-color;
            border-radius: 2px;
        }
}

.hamburger-dropdown {
    display: none;
    position: absolute;
    background-color: a.$primary-color, 0.5;
    padding: 10px;
    top: 60px;
    right: -100%;
    width: inherit;
    a {
        text-decoration: none;
    }
}

.open {
    display: block;
}
.slide-out {
    animation: slide-out 0.25s forwards;
}

.slide-back {
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {right:-100%;}
    100% {right: 0%}
}

@keyframes slide-back {
    0% {right: 0%;}
    100% {right: -100%}
}

  .hamburger.X span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    position:absolute;
  }
  
  .hamburger.X span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.X span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    position: absolute;
  }

@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .deskNavItem {
    display: block;
    } 

    .hamburger-dropdown {
        display: none;
    }
}