@use "../abstracts" as a;

Header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

nav {
    position: relative;
    display: flex;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    height: 50px;
}

#home-button {
    margin: 10px 10px 10px auto;
} 

#logo:hover {
        opacity: 1;
}

.logo-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 150px;
    margin-right: auto;
    z-index: 500;
    img {
      height: 100%;
      width: auto;
      opacity: 0.2;
    }
}

.menu-con {
    display: none;
    position: relative;
    z-index: -1;
    width: 400px;
    height: 50px;
    overflow: hidden;
}

.X {
    display: flex;
}

.hamburger-dropdown {
    flex-direction: row;
    position: absolute;
    background-color: a.$darkRed-color, 0.5;
    padding: 10px;
    transform:translateX(-320px);
    width: inherit;
    a {
        text-decoration: none;
    }
}

.open {
    display: flex;
}
.slide-out {
    animation: slide-out 0.25s forwards;
}

.slide-back {
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {transform: translateX(-320px);}
    100% {transform:translateX(0px);}
}

@keyframes slide-back {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-320px);}
}