@use "../abstracts" as a;

#skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 20px 0px;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto 5px auto;
    width: auto;
}

.icon-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icon-card {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 150px;
    margin: 0px auto 0px auto;
    align-items: center;
    justify-content: center;
    img {
        max-height: 100px;
        max-width: 100px;
        margin: auto;
    }
    span {
        color: a.$paleBlue-color;
        margin-top: auto;
        text-align: center;
    }
  }

  @media (min-width:768px) {
    // .icon-box {
    //     display: grid;
    //     grid-template-columns: repeat(5, 1fr);
    // }
  }

  @media (min-width:1200px) {
    // .icon-box {
    //     display: flex;
    //     grid-template-columns: row;
    // }
  }