@use "../abstracts" as a;


// basic and mobile styles

body {
    background-color: a.$primary-color;
}

h2 {
    display: none;
}

.text {
    color: a.$secondary-color;
    font-family: "inclusive-sans", "Montserrat";
    margin: 5px;
}

.underline {
    text-decoration: underline;
}

h3 {
    font-size: 32pt;
}

.subheader {
    font-size: 20pt;
}

.info_text {
    font-size: 24pt;
}

.button {
    width: fit-content;
    min-width: 150px;
    color: a.$secondary-color;
    height: 50px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: a.$primary-color;
    border-color: a.$secondary-color;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    font-family: "Inclusive Sans", sans-serif;
    margin: 5px;
    a{
        color: a.$secondary-color;
        text-decoration: none;
    }
}

.button:hover {
    background-color: a.$secondary-color;
    border-color: a.$primary-color;
    border-style: solid;
    color: a.$primary-color;
    cursor: pointer;
    a{
        color: a.$primary-color;
    }
}

li {
    list-style: none;
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 50px;
    margin:5px;
}

#greeting-section {
    border-bottom-style: solid;
    border-color: a.$secondary-color;
    border-width: 5px; 
    margin-bottom: 50px;
    div div {
        display: flex;
        flex-direction: row;
        img {
            width:50px;
        }
    }
}
#case-files-section {
    margin-bottom: 150px;
}

#about-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    div {
            span {
            text-align: center;
            margin: 10px 50px 10px 50px;
            }
    }
}

#info-and-resume {
    text-align: center;
    display: flex;
    flex-direction: column;
    img{
        width: 400px;
        border-radius: 150px;
        margin: 10px auto auto auto;
        }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
}


#selfie {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#skills-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 150px;
}


//tablet styles
@media (min-width:768px) {
    
}

//desktop styles
@media (min-width:1200px) {
    
    #menuIcon {
        display: hidden;
    }

    #greeting-section {
        border-bottom-style: none;
    }

    header {
    border-right-style: solid;
    border-color: a.$secondary-color;
    border-width: 5px;
    }   

    .main_title {
        text-align: left;
        margin-left: 150px;
    }

    #about-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;

    }

    #info-and-resume {
        text-align: center;
        display: flex;
        flex-direction: row;
        img{
            width: 400px;
            border-radius: 150px;
            margin: 10px auto auto auto;
            }
        span {
            align-items: left;
            text-align: left;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
    }

    }