@use "../abstracts" as a;

body {
    background-color: a.$primary-color;
}

h2 {
    display: none;
}

header {
    border-right-style: solid;
    border-color: a.$secondary-color;
    border-width: 5px;
}

.text {
    color: a.$secondary-color;
    font-family: "inclusive-sans", "Montserrat";
    margin: 5px;
}

.underline {
    text-decoration: underline;
}

h3 {
    font-size: 32pt;
}

.subheader {
    font-size: 20pt;
}

.info_text {
    font-size: 24pt;
}

.button {
    width: fit-content;
    min-width: 150px;
    color: a.$secondary-color;
    height: 50px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: a.$primary-color;
    border-color: a.$secondary-color;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    font-family: "Inclusive Sans", sans-serif;
    margin: 5px;
    a{
        color: a.$secondary-color;
        text-decoration: none;
    }
}

.button:hover {
    background-color: a.$secondary-color;
    border-color: a.$primary-color;
    border-style: solid;
    color: a.$primary-color;
    cursor: pointer;
    a{
        color: a.$primary-color;
    }
}

li {
    list-style: none;
}

#case-files-section {
    margin-bottom: 150px;
}

#about-section {
    margin-bottom: 150px;
}

#selfie {
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
    width: 300px;
    border-radius: 150px;
    }
    span {
        text-align: left;
        margin: 10px;
    }
}

#skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}