@use "../abstracts" as a;

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.insta-icon:hover .insta-fill {
    fill: a.$secondary-color;
  }

  .insta-icon:hover .insta-line {
    stroke: a.$primary-color;
  }

  .git-icon:hover .git-fill {
    fill: a.$secondary-color;
  }

  .git-icon:hover .git-line {
    stroke: a.$primary-color;
  }

  .link-icon:hover .link-fill {
    fill: a.$secondary-color;
  }

  .link-icon:hover .link-line {
    fill: a.$primary-color;
  }

body {
    background-color: a.$primary-color;
}

.button {
    width: fit-content;
    min-width: 150px;
    color: a.$secondary-color;
    text-decoration: none;
    height: 50px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: a.$primary-color;
    border-color: a.$secondary-color;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    font-family: "Inclusive Sans", sans-serif;
    margin: 5px;
    a{
        color: a.$secondary-color;
        text-decoration: none;
    }
}

.button:hover {
    background-color: a.$secondary-color;
    border-color: a.$primary-color;
    border-style: solid;
    color: a.$primary-color;
    cursor: pointer;
    a{
        color: a.$primary-color;
    }
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 50px;
    height: 50px;
    margin:5px;
}

.desk-top-button {
  display: none;
}

.top-link {
  opacity: 0.5;
  color: a.$secondary-color;
  text-decoration: none;
  height: 50px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  font-family: "Inclusive Sans", sans-serif;
  margin: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

.top-link:hover {
  opacity: 1;
  background-color: a.$primary-color;
  border-color: a.$secondary-color;
}

footer {
  height: 150px;
  margin: 50px 0px 0px 0px;
  display: flex;
  padding: 0px;
  background-image: linear-gradient(to bottom, a.$primary-color, rgba(0, 0, 0, 0.5));;
  flex-direction: row;
  width: 100%;
  .footer-icons{
    margin-left: 15px;
  }
  .top-button {
    margin-left: auto;
    margin-right: 15px;
  }
}

//tablet styles
@media (min-width:768px) {

}

//desktop styles
@media (min-width:1200px) {

footer {
  display: none;
}

.desk-top-button {
  display: flex;
    a {
      margin: 50px 50px 100px auto;
    }
}

    }