@use "../abstracts" as a;


#insta-icon:hover #insta-fill {
    fill: a.$secondary-color;
  }

  #insta-icon:hover .insta-line {
    stroke: a.$primary-color;
  }

  #git-icon:hover #git-fill {
    fill: a.$secondary-color;
  }

  #git-icon:hover #git-line {
    stroke: a.$primary-color;
  }

  #link-icon:hover .link-fill {
    fill: a.$secondary-color;
  }

  #link-icon:hover #link-line {
    fill: a.$primary-color;
  }
// basic and mobile styles

body {
    background-color: a.$primary-color;
}

.button {
    width: fit-content;
    min-width: 150px;
    color: a.$secondary-color;
    height: 50px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: a.$primary-color;
    border-color: a.$secondary-color;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    font-family: "Inclusive Sans", sans-serif;
    margin: 5px;
    a{
        color: a.$secondary-color;
        text-decoration: none;
    }
}

.button:hover {
    background-color: a.$secondary-color;
    border-color: a.$primary-color;
    border-style: solid;
    color: a.$primary-color;
    cursor: pointer;
    a{
        color: a.$primary-color;
    }
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 50px;
    height: 50px;
    margin:5px;
}

#greeting-section {
    border-bottom-style: solid;
    border-color: a.$secondary-color;
    border-width: 5px; 
    margin-bottom: 50px;
}

#greeting-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        height: 50px;
    }
}

#meniIcon {
    position: sticky;
}

#case-files-section {
    margin-bottom: 150px;
}

#about-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    div {
            span {
            text-align: center;
            margin: 10px 50px 10px 50px;
            }
    }
}

#info-and-resume {
    text-align: center;
    display: flex;
    flex-direction: column;
    img{
        width: 400px;
        border-radius: 150px;
        margin: 10px auto auto auto;
        }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
}


#selfie {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#case-file-1 {
    background: url("../images/placeholder-images-03.jpg");
}

#case-file-2 {
    background: url("../images/placeholder-images-03.jpg");
} 

#case-file-3 {
    background: url("../images/placeholder-images-03.jpg");
} 
.case-file-object {
    width: 300px;
    height: 300px;
    margin: 5px auto 5px auto;
}

// contact list stlyes for mobile/basic

.input-form {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.form-box {
    background-color: a.$primary-color;
    border-color: a.$secondary-color;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;

}


//tablet styles
@media (min-width:768px) {

    #case-file-1 {
        background: url("../images/placeholder-images-02.jpg");
    } 

    #case-file-2 {
        background: url("../images/placeholder-images-02.jpg");
    } 

    #case-file-3 {
        background: url("../images/placeholder-images-02.jpg");
    } 
    .case-file-object {
        width: 700px;
        height: 340px;
    }
}

//desktop styles
@media (min-width:1200px) {
    
    #menuIcon {
        display: hidden;
    }

    #greeting-section {
        border-bottom-style: none;
    }

    header {
    border-right-style: solid;
    border-color: a.$secondary-color;
    border-width: 5px;
    }   

    .main-title {
        text-align: left;
        margin: 50px 0px 50px 200px;
    }

    #case-file-1 {
        background: url("../images/placeholder-images-01.jpg");
    } 

    #case-file-2 {
        background: url("../images/placeholder-images-01.jpg");
    } 

    #case-file-3 {
        background: url("../images/placeholder-images-01.jpg");
    } 

    .case-file-object {
        width: 700px;
        height: 340px;
    }

    #about-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

    }

    #info-and-resume {
        text-align: center;
        display: flex;
        flex-direction: row;
        img{
            width: 400px;
            border-radius: 150px;
            margin: 10px auto auto auto;
            }
        span {
            align-items: left;
            text-align: left;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
    }

    }