@use "../abstracts" as a;

h2 {
    display: none;
}

.text {
    color: a.$secondary-color;
    font-family: "inclusive-sans", "Montserrat";
    margin: 5px;
}

.main-title {
    font-size: 32px;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

h3 {
    font-size: 31pt;
}

.subheader {
    font-size: 20pt;
}

.info_text {
    font-size: 16pt;
    line-height: 40px;
}

.nav-links {
    padding: 0px;
}

.icon-list {
    padding: 0px;
}

li {
    list-style: none;
}
