@use '../abstracts' as a;


#about-section {
    display: flex;
    flex-direction: column;
    
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

#info-and-resume {
    text-align: center;
    display: flex;
    flex-direction: column;
    img{
        width: 400px;
        margin: 10px auto auto auto;
    }
    
    #about-con {
        display: flex;
        flex-direction: column;
        align-items: center;

        #about {
            display: flex;
        }
        
        #about-desk {
                display: none;
        }

        #about-text {
                text-align: center;
                margin: 10px 50px 10px 50px;
        }
    }
}

    .education-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #education {
                display: flex;
                text-align: center;
        }

        #education-text {
                text-align: center;
                margin: 10px 50px 10px 50px;
        }
    }

#selfie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 15px 15px 0px a.$hotPink-color;
    border: solid 3px a.$hotPink-color;
    transform: translateX(-15px);
    transform: translateY(-15px);

}

@media (min-width:1200px) {

    #about-section {
        display: flex;
        flex-direction: column;

        #about {
            display: none;
        }
    }

    #info-and-resume {
        text-align: left;
        display: flex;
        flex-direction: row;
    
        img{
            width: 400px;
            margin: 10px auto auto 150px;
        }

        #about-con {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        #about-desk, #education {
            margin-left: 50px;
        }

            #about-text, #education-text {
                display: flex;
                text-align: left;
                text-decoration: none;
                margin: 10px 50px 10px 50px;
            }
        }
    }
}