@use "../abstracts" as a;


#cf-main-title {
        margin-top: 100px;
}

.case-file-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 10px 0px;

            img {
                width: fit-content;
                max-width: 90vw;
                object-fit: cover;
                border: solid 2px a.$pink-color;
                border-radius: 15px;
        }
}

.case-file-video {
        width: 90vw;
        border-radius: 15px;
}

.case-file-link {
        margin: 10px auto 10px auto;
}

.case-file-text {
        margin: 10px 15px 10px 15px;
        font-size: 16px;
    }

@media (min-width:768px) {
    }

@media (min-width:1200px) {
        .case-file-text {
                text-align: left;
            }
    }
