@use '../abstracts/' as a;

.cms-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form-cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-box-cms {
    background-color:black;
    border-color: a.$hotPink-color;
    color: pink;
    padding: 10px;
    field-sizing: content;
    height: auto;
    max-width: 500px;
    overflow: hidden;
    width: 80vw;
    margin: 10px 10px 10px 10px
}