@use '../abstracts' as a;

#contact-section {
    margin-top:20px;
    margin-bottom: auto;
    min-height: 100vh;

    #contactTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
                }

@media (min-width: 768px) {
    #contact-section{
    #contactTitle {
    align-items: baseline;
    margin-left: 150px;
    }
}
}